body {
    background-image: url(); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir toda el área */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
}
.imgs{
    height: auto;
}
    
.border{
    
    
}